.admintitle
{
	background-color:#FFD700;
	color:#A9A9A9;
	height:70px;
	line-height:70px;
	margin-left:300px;
	margin-right:300px;
	font-size:28px;
}

.dashboard
{
	background-color:#ccffcc;
	color:#66001a;
	height:160px;
	height:160px;
	margin-left:300px;
	margin-right:300px;
	line-height:50px;
	font-size:25px;
}

